<ion-header>
    <ion-toolbar>
        <app-header></app-header>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="!isLogged" class="login">
        <ion-button color="light" (click)="login()">
            <img class="logo" src="assets/header-img.png" alt="OpenMySpotify">
            CONNECT WITH SPOTIFY
        </ion-button>
    </div>
    <ion-card class="welcome-card" *ngIf="userData">
        <ng-container *ngFor="let image of userData.images">
            <ion-avatar>
                <img class="profile-picture" [src]="image.url" alt="user-image">
            </ion-avatar>
        </ng-container>
        <ion-card-header>
            <ion-card-subtitle href="userData.external_urls.spotify">Profile URL:
                {{userData.external_urls.spotify}}
            </ion-card-subtitle>
            <ion-card-title>{{userData.display_name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>
                Followers: {{userData.followers.total}}
            </p>
            <p>
                ID User: {{userData.id}}
            </p>
            <p>
                Type of Account: {{userData.type}}
            </p>
            <p>
                URI: {{userData.uri}}
            </p>
        </ion-card-content>
    </ion-card>
    <ion-list lines="none" *ngIf="isLogged">
        <ion-list-header>
            <ion-label>Playlists</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let pl of playlists">
            <ion-chip (click)="goToDetail(pl)">
                <ng-container *ngIf="pl.images.length > 0">
                    <ion-avatar>
                        <img class="pl-image" [src]="pl.images[0].url" alt="Image playlist">
                    </ion-avatar>
                </ng-container>
                <ion-label>{{pl.name}}</ion-label>
            </ion-chip>
        </ion-item>
    </ion-list>
</ion-content>